<!DOCTYPE html>
<html>
    <head>
        <title>Vancouver Meteor Radar Experiment</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>Vancouver Meteor Radar Experiment</h1>

        <a href="https://rasc-vancouver.com/"><img src="rasc-new-banner.png"/></a>

        <p>VMRE is funded by and run by members of <a href="https://rasc-vancouver.com/">RASC Vancouver</a>.</p>

        <p>Last updated ${db['last_updated']}</p>

        <p>Analyzing last ${config.analyze_days} days worth of data.</p>

        <p>Events:</p>
        <table>
            <tr>
                <th>Time</th>
                <th>Frequency (MHz)</th>
                <th>Stations Online</th>
            </tr>
% for e in reversed(sorted(db['events'], key=lambda k: k['datetime_str'])):
    % if not e['interference']:
            <tr>
                <td><a href="event${e['event_id']}_${e['datetime_str']}.html">${e["datetime_readable"]}</a></td>
                <td>${'{0:.3f}'.format(e["center_frequency"]/1E6)}</td>
                <td>${" ".join([str(i) for i in e["stations_online"]])}</td>
            </tr>
    % endif
% endfor
        </table>

    </body>
</html>
