<!DOCTYPE html>

<html>
    <head>
        <title>${event['datetime_readable']}</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <table>
            <tr>
                <td>
% if prev_event is not None:
                    <a href="${prev_event['datetime_str']}.html">Prev</a><br>
% else:
                    Prev
% endif
                </td>
                <td>
                    <a href="index.html">Home</a><br>
                </td>
                <td>
% if next_event is not None:
                    <a href="${next_event['datetime_str']}.html">Next</a><br>
% else:
                    Next
% endif
                </td>
            </tr>
        </table>

% for plot in event["plots"]:
        <img src="${plot.split('/')[1]}">
% endfor

        <br>

        <table>
            <tr>
                <td>Energy</td>
                <td>${event["energy"]} dB</td>
            </tr>
        </table>

    </body>
</html>
