<!DOCTYPE html>

<html>
    <head>
        <title>${event['datetime_readable']}</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <table>
            <tr>
                <td><h1>
% if prev_event is not None:
                    <a href="${prev_event['datetime_str']}.html">Prev</a><br>
% else:
                    Prev
% endif
                </h1></td>
                <td><h1>
                    <a href="index.html">Home</a><br>
                </h1></td>
                <td><h1>
% if next_event is not None:
                    <a href="${next_event['datetime_str']}.html">Next</a><br>
% else:
                    Next
% endif
                </h1></td>
            </tr>
        </table>

% for plot in event["plots"]:
        <img src="${plot.split('/')[1]}">
% endfor

        <br>

        <table>
            <tr>
                <td>Energy</td>
                <td>${'{0}'.format(int(event["energy"]))}</td>
            </tr>
            <tr>
            	<td>Observations</td>
            	<td>${event["observations"]}</td>
            </tr>
        </table>

        <p>Confused about what's going on here? <a href="manual.html">This page will help.</a></p>

    </body>
</html>
