<!DOCTYPE html>

<html>
    <head>
        <title>${event['datetime_readable']}</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <table>
            <tr>
                <td>
% if prev_event is not None:
                    <a href="event${prev_event['event_id']}_${prev_event['datetime_str']}.html">Prev</a><br>
% else:
                    Prev
% endif
                </td>
                <td>
                    <a href="index.html">Home</a><br>
                </td>
                <td>
% if next_event is not None:
                    <a href="event${next_event['event_id']}_${next_event['datetime_str']}.html">Next</a><br>
% else:
                    Next
% endif
                </td>
            </tr>
        </table>

% for plot in event["plots"]:
        <img src="${plot.split('/')[1]}">
% endfor

        <br>

        <table>
            <tr>
                <td>Center Frequency</td>
                <td>${'{0:.3f}'.format(event["center_frequency"]/1E6)} MHz</td>
            </tr>
            <tr>
                <td>Station ID</td>
                <td>${event['station_id']}</td>
            </tr>
        </table>

        <br>
    </body>
</html>
